<ion-content class="bg-gradient">
        <ion-slides pager>
            <ion-slide class="text-center flex-vertical-center">
                <h1 class="calm">Resgrid Connect</h1>
                <h2 class="font-thin light">Create your awesome profile</h2>
            </ion-slide>
            <ion-slide class="text-center flex-vertical-center">
                <h2 class="font-thin light">Connect and keep in touch with your network</h2>
            </ion-slide>
            <ion-slide class="text-center flex-vertical-center">
                <h2 class="font-thin light">Find jobs through people you know</h2>
            </ion-slide>
        </ion-slides>
        
        <div class="text-center padding intro-buttons" padding>
            <button ng-click="openRegister()" block><b>Join now</b></button>
            <button ng-click="openLogin()" block dark outline><b>Sign in</b></button>
        </div>
</ion-content>