<ion-tabs class="tabs-icon-top tabs-color-active-calm tabs-light">
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home" badge="5" badge-style="badge-assertive">
    <ion-nav-view name="home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Me" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/me">
    <ion-nav-view name="me"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Messaging" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/messaging" badge="2" badge-style="badge-assertive">
    <ion-nav-view name="messaging"></ion-nav-view>
  </ion-tab>

  <ion-tab title="My Network" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/network">
    <ion-nav-view name="network"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
    <ion-nav-view name="search"></ion-nav-view>
  </ion-tab>
</ion-tabs>